body {
  font-family: sans-serif;
}

a,
a:visited {
  text-decoration: none;
  color: #000000;
}

a:hover {
  color: grey;
}

a:active {
  text-decoration: underline;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* All Vets */
.vets-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.vet-card {
  margin: 1%;
  width: 18%;
  border: #000000 solid;
}
